<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API - Adult Income Classifier</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
        h1, h2, h3, p {
            text-align: center;
            margin-left: 100px;
        }
    </style>
</head>
<body>
    <h1>Adult Income Classifier Using ML and Django</h1>
    <p>API Documentation: <a href="/">http://127.0.0.1:8000/</a></p>
    <h2>API for Adult Income Classifier - Using Random Forest Algorithms</h2>
    <p>API Endpoint: <a href="/api/v1/">http://127.0.0.1:8000/api/v1/</a></p>
    <p>API for Income Classifier Prediction: <a href="/api/v1/income_classifier/predict">http://127.0.0.1:8000/api/v1/income_classifier/predict</a></p>
    <h2>API for Adult Income Classifier - Using Extra Trees based Algorithms</h2>
</body>
</html>